@charset "ISO-8859-1";

h1 { text-align: center}
table { border-collapse: collapse; witdh: 25em;}
th, td, tr {border: thin solid black; padding: 0.5em; }
tr:nth-child(even) {background-color: #f2f2f2;}
td:nth-child(2){text-align: right; width: 10em }
thead th, thead tr { border: medium solid black; font-weight: bold;}